
/* Prevents iPhone from resizing in landscape mode*/
html {
    -webkit-text-size-adjust: none;
}

/* apply natural box layout model to all elements*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /*also loaded 600 for bold*/
}

/* -----HEADER----- */
#headerWrapper {
    background-color: #3B4044;
}

header {
    padding: 1em 2% .5em 2%;
}

    header h1 {
        font-size: 2.1em;
        color: #fff;
    }

    header h2 {
        font-size: .9em;
        font-weight: 300;
        color: #ddd;
        margin-top: .75em;
    }



/* ----- NAVIGATION STUFF HERE -----*/
#navWrapper {
    background-color: #e61b10;
}

nav {
    padding: 0.3em 0;
}

    nav ul {
        display: none;
    }

    nav select {
        display: block;
        margin: 0, 2%;
        width: 96%;
    }







/* ----- FOOTER -----*/
#footerWrapper {
    background-color: #979791;
}

footer {
    clear: both;
    font-size: .7em;
    color: #fff;
    text-align: center;
    padding: .6em;
}

    footer a {
        color: #fff;
    }



/* ----- OTHER STUFF -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
